<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome</h1>
    <h1>to</h1>
    <h1>Marios Specialty Coffee Site</h1>
    <% if current_user %>
        <%= current_user.email %> 
        <button class="btn btn-warning">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </button>
      <%else%>
        <button class="btn btn-warning">
          <%= link_to "Register", new_user_registration_path%>
        </button>
        <button class="btn btn-warning">
          <%= link_to "Login", new_user_session_path%>
        </button>
      <%end%>
      <%= flash[:alert] %>
      <%= flash[:notice] %> 
  </div>
</div>

<section class="recent_coffee">
  <div class="section-title">
    <h2>Our Most Recent Coffee Products <span>!</span></h2>
  </div>
  <div class="row">
    <% @recent_products.each do |product| %>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="<%= Faker::Avatar.image %>" width ="200" heigth="auto" alt="">
          <h1><%= product.name %></h1>
          <p class="card-text">$ <%= product.cost %></p>
          <p>Country of Origin: <%= product.country_of_origin %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="america_coffee">
  <div class="section-title">
    <h2>Our Coffee Products Sold in U.S.<span>!</span></h2>
  </div>
  <div class="row">
    <% @us_location.each do |product| %>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="<%= Faker::Avatar.image %>" width ="200" heigth="auto" alt="">
          <h1><%= product.name %></h1>
          <p class="card-text">$ <%= product.cost %></p>
          <p>Country of Origin: <%= product.country_of_origin %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="review_coffee">
  <div class="section-title">
    <h2>The Highest Reviewed Coffee Products<span>!</span></h2>
  </div>
  <div class="row">
    <% @most_reviews.each do |product|%>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="<%= Faker::Avatar.image %>" width ="200" heigth="auto" alt="">
          <h1><%= product.name %></h1>
          <h2>Cost <span>$<%= product.cost %></span></h2>
          <h2>Country of Origin<span><%= product.country_of_origin %></span></h2>
        </div>
      </div>
    <% end %>
  </div>
</section>


  


 




