<section class="products-section">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-title">
        <h1>
          View all of our signature coffees that will make perfect gifts<br>for all of your loved ones in your life.
        </h1>
        <h2>
          <span>P.S. That includes you!</span>
        </h2>
      </div>
        <button class="btn btn-primary">
          <%= link_to "View Our Coffee Selection", products_path %>
        </button>
        <% @top_review.each do |review| %>
          <div class="review">
            <p>People are raving about our coffees!</p>
            <h2><%= review.content_body %></h2>
            <h4>--<%= review.author %></h4>
            <h2 style="color:#dec443">
              <% review.rating.to_i.times do %>
                ★
              <%end%>
            </h2>
          </div>
        <%end%>
    </div>
    <div class="col-sm-6">
      <div class="box">
          <h1>All Images Are From  <a href="https://unsplash.com/">Unsplash</a></h1>
      </div>
    </div>
  </div>
</section>

<section class="recent_coffee">
  <div class="section-title">
    <h2>View Our<br>Most Recent Coffee Products</h2>
  </div>
  <div class="row">
    <% @recent_products.each do |product| %>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width ="200" heigth="auto" alt="">
        </div>
        <div class="box1">
          <p><%= product.country_of_origin %></p>
          <h1 class="product_name"><%= product.name %> <span class="cost">$<%= product.cost %></span></h1>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="america_coffee">
  <div class="section-title">
    <h2>View Our<br>Coffee Products Sold in U.S.</h2>
  </div>
  <div class="row">
    <% @us_location.each do |product| %>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width ="200" heigth="auto" alt="">
        </div>
        <div class="box1">
          <p><%= product.country_of_origin %></p>
          <h1 class="product_name"><%= product.name %> <span class="cost">$<%= product.cost %></span></h1>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="review_coffee">
  <div class="section-title">
    <h2>The Highest Reviewed<br> Coffee Products</h2>
  </div>
  <div class="row">
    <% @most_reviews.each do |product|%>
      <div class="col-sm-4 mt-4 mt-lg-0">
        <div class="box">
          <img src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width ="200" heigth="auto" alt="">
        </div>
        <div class="box1">
          <p><%= product.country_of_origin %></p>
          <h1 class="product_name"><%= product.name %> <span class="cost">$<%= product.cost %></span></h1>
        </div>
      </div>
    <% end %>
  </div>
</section>


  


 




