<style>
  .recent_coffee{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .box1{
    padding: 5px;
  }
  .box1 p{
    text-align: center;
  }
  footer{
    float:right;
    font-size: 20px;
  }
</style>

<section class="recent_coffee">
  <div class="section-title">
    <h2><%= @product.name %></h2>
    <p>
      <%= link_to "Add a review", new_product_review_path(@product) %> |
      <%= link_to "Edit Product", edit_product_path(@product) %> |
      <%= link_to "Delete Product", product_path(@product), :data => {:confirm => "Are you sure?", :method => "delete"} %> |
      <%= link_to "Return to Products", products_path %>
    </p>
  </div>
  <div class="row">
    <div class="box">
      <img src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width ="200" heigth="auto" alt="">
    </div>
    <% if @product.reviews.any? %>
      <% @product.reviews.each do |review| %>
        <div class="box1">
          <p>"<%=review.content_body %>"</p>
          <footer>--<%=link_to review.author, product_review_path(@product, review) %></footer>
          <p style="color:#dec443">
            <% review.rating.to_i.times do %>
              ★
            <%end%>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>No reviews are listed for this product.</p>
    <% end %>
  </div>
</section>

