<style>
  .recent_coffee{
    background: whitesmoke;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .box1{
    padding: 15px;
  }
  footer{
    float:right;
    font-size: 20px;
  }
</style>

<section class="recent_coffee">
  <div class="section-title">
    <h2><%= @product.name %></h2>
    <p>
      <%= link_to "Edit Review", edit_product_review_path(@product, @review) %> |
      <%= link_to "Delete Review", product_review_path(@product, @review),
      :data => {:confirm => "Are you sure?",
                    :method => "delete"} %> |
      <%= link_to "Return to Reviews", product_path(@product) %>
    </p>
  </div>
  <div class="row">
    <div class="box">
      <img src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width ="200" heigth="auto" alt="">
    </div>
    <div class="box1">
      <p>"<%= @review.content_body %>"</p>
      <footer>--<%=@review.author %></footer>
      <p><%=@review.rating%></p>
    </div>
  </div>
</section>


